# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.recommenders/*
.gradle*

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
*/gradle/*
gradlew*

# other
eclipse
run

#don't need multiples of these
Pokecube Mobs/src/main/resources/assets/pokecube_mobs/sounds/*
Pokecube Mobs/src/main/resources/assets/pokecube_mobs/models/pokemobs/*
Pokecube Mobs/src/main/resources/assets/pokecube_mobs/textures/entities/*

#Dont need internal testing things
*/test